<ion-view title="<i class='icon tuchong-daily-logo'> 图虫日报">

  <ion-nav-buttons side="right">
   <button on-tap="toggle('right')" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content scroll="false">

    <ion-side-menus>
      <!-- Center content -->
      <ion-side-menu-content drag-content="false">

        <ion-slide-box on-slide-changed="updateSlides($index)" show-pager="false">
          <ion-slide ng-repeat="image in images" ng-style="{'background-image': backgrounds[$index] ? 'url(' + backgrounds[$index] + '.jpg)' : ''}" on-hold="share(image, post)">
            <div class="post post-single" ng-show="image.exif">
              <div class="entry">
                <p class="camera" ng-show="image.exif.camera && image.exif.camera.name">
                  <i class="icon ion-camera"></i>
                  <i ng-bind="image.exif.camera.name"></i>
                </p>
                <p class="exif" ng-show="image.exif.exposure">
                  <i class="icon ion-ios7-information-outline"></i>
                  <i ng-bind="image.exif.exposure"></i>
                </p>
                <p class="lens" ng-show="image.exif.lens && image.exif.lens.name">
                  <i class="icon ion-eye"></i>
                  <i ng-bind="image.exif.lens.name"></i>
                </p>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>

      </ion-side-menu-content>

      <!-- Right menu -->
      <ion-side-menu side="right">
        <div class="list list-sidebar list-dark has-header padding">
          <div class="item item-avatar" ng-show="post.author">
            <img ng-src="{{post.author.icon}}">
            <h2 ng-bind="post.author.name"></h2>
          </div>
          <p class="author-desc" ng-bind="post.site.description" ng-show="post.site.description"></p>
          <p class="post-title" ng-bind="post.title" ng-show="post.title"></p>
          <p class="post-content" ng-bind-html="post.parsedContent" ng-show="post.parsedContent"></p>
        </div>
        <div id="footer-options" class="bar bar-footer">
          <button class="button button-block button-dark view-large" on-tap="viewLarge()">
            <i class="icon ion-images"></i>
            查看大图
          </button>          
        </div>
      </ion-side-menu>

    </ion-side-menus>

  </ion-content>
</ion-view>